<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="math.css" rel="stylesheet">
    <title>Football</title>
</head>
<body>
    <div class="bg-son1">
        <div class="son1-top">
            EASYQUIZY
        </div>
    </div>
    <div id="quiz-container">
        <div id="question" class="question"></div>
        <ul id="options" class="options"></ul>
        <button class="play-button" onclick="checkAnswer()"><b>Next Question</b></button>
        <p id="score">Score: 0</p>
      </div>
      <script src="football.js"></script>
</body>
</html>