<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="parent">
        <div class="background">
            <div class="bg-left">
                <h1>თამაშის შესახებ</h1>
                <p>,,EASYQUIZY" არის Quiz სტილის თამაში, სადაც შესაძებლობა გაქვთ გამოცადოთ საკუთარი თავი კონკრეტულ თემატიკაზე შედგენილი კითხვების დახმარებით.დააგროვოთ ქულები და მოხვდეთ Leaderboard სიაში. </p>
            </div>
            <div class="bg-son1">
                <div class="son1-top">
                    EASYQUIZY
                </div>
                <div class="son1-bottom">
                     <a href="/tematika" class="play-button text-decoration-none"><b>Play Now</b></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>