<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="tematika.css" rel="stylesheet">
    <title>Topic</title>
</head>
<body>
    <div class="parent">
        <div class="background">
            <div class="son">
                <div class="son-top">
                    <div class="sonoftop"> <!--from Index.html-->
                        <a href="index.html" class="text-decoration-none ez">EASYQUIZY</a>
                    </div>
                </div>
                <div class="son-middle">
                    <div class="title">აირჩიეთ ქვიზის თემატიკა</div>
                </div>
                <div class="son-bottom">
                    <a href="/math" class="play-button text-decoration-none">მათემატიკა</a>
                    <a href="/history" class="play-button text-decoration-none">ისტორია</a>
                    <a href="/football" class="play-button text-decoration-none">ფეხბურთი</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>